<!DOCTYPE html>
<html>
  <head>
    <title>Jiqiao</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
  </head>

  <body>
    <div class="main">
      <div class="navbar">
        <span>
        <%= link_to "Collections", collections_path %> |
        <% if current_user %>
            <%= current_user.username %> |
            <%= link_to 'Logout', logout_path %>
        <% else %>
            <%= link_to 'Login', login_path %> |
            <%= link_to 'Sign Up', signup_path %>
        <% end %>
        </span>
      </div>

      <div class="container">
        <%= yield %>
      </div>

    </div>

  </body>
</html>
